body {
    margin: 0;
}

.container {
    background-color: rgb(83, 76, 76);
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    color: rgb(47, 167, 117);
    visibility: visible;
}

h2{
    font-family: 'Indie Flower', cursive;
        color: rgb(47, 167, 117);
        font-size: 1.5rem;
}

#winner{
    visibility: visible;
}

p {
    font-family: 'Indie Flower', cursive;
    color: rgb(47, 167, 117);
    font-size: 1.5rem;

}

.dice {
    display: inline-block;
    margin: 0 50px 0px 0px;
}

img {
    height: 200px;
}

footer {
    padding-top: 100px;
    padding-bottom: 300px;
}

a {
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    color: white;
    font-weight: normal;

}